{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script type="text/javascript">
    $(document).ready(function(){

      var rowCnt = 0;
      var colIdx = 0;
      var colSum = 0;

      $("#orderedmenu tr").each(function(){
        if( rowCnt != 0 ){
          var sell = $(this).children("td");
          $(sell).each(function(){
            var idx = $(this).index();
            var val = $(this).text();

            if( idx == colIdx ){
              colSum += parseInt(val);
            }
          });
        }

          rowCnt++;
      });

      $("#a_sum").text(colSum);

    });

     function emptyOrder(empty) {
        $.ajax({
          url: '{% url "mcdonaldapp:basket" %}',
          method: 'POST',
          data: {
            'empty': name,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            location.href = '{% url "mcdonaldapp:basket" %}';
          }
        });
      }

    function cancelOrder(name) {
        $.ajax({
          url: '{% url "mcdonaldapp:basket" %}',
          method: 'POST',
          data: {
            'name': name,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            location.href = '{% url "mcdonaldapp:basket" %}?packing={{ packing }}';
          }
        });
      }
    </script>
{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="banner">
      <p>
          <a href="{% url 'mcdonaldapp:menu' %}">
            <img src="{% static 'img/MacLogo.png' %}" alt="">
          </a>
      </p>
    </div>
    <div class="title title_cart">
      장바구니
    </div>

    <div class="table">
      <table id = 'orderedmenu'>
        <th>메뉴명</th>
        <th>수량</th>
        <th>가격</th>
        <th>취소</th>
        <tbody></tbody>
        {% for name, value in menus.items %}
        <tbody class="allDelete">
          <tr>
            <td>{{ name }}</td>
            <td>{{ value.1 }}개</td>
            <td>{{ value.0 }}원</td>
            <td>
              <button onclick="cancelOrder('{{ name }}')">
                취소
              </button>
            </td>
          </tr>
        </tbody>
        {% endfor %}
        <tbody></tbody>
      </table>
    </div>
    <div class="select">
      <div class="priceWrap font-bold">
        <div class="textCenter">
          <div class="total">Total:  <span class="total_price">{{ total_price }}원</span></div>
        </div>
      </div>
    </div>
    <div>
          <button class="goshopping" type="button">
          <a href="{% url 'mcdonaldapp:menu' %}">
            계속 쇼핑하기
          </a>
        </button>
      {% if menus %}
        <button class="charge" type="button">
          <a href="{% url 'mcdonaldapp:payment' %}?packing={{ packing }}">
            결제하기
          </a>
        </button>
      {% endif %}
    </div>
  </div>
  <script>
      window.addEventListener('DOMContentLoaded', function(){
      const setHeader = () => {
          const missions = JSON.parse(sessionStorage.getItem('mission'));
          const headerMissionList = document.querySelector('.mission-list');

          let missionList = '';
          missionList += `<h3>미션</h3>`
          missionList += `<div>결제 방식 : ${missions[0].payment}</div>`;
          missionList += `<div>포장 여부 : ${missions[0].packing}</div>`;
          missions.map((e) => {
              missionList += `
                  <div>
                      ${e.menu} / ${e.quantity}개
                  </div>
              `;
          })

          headerMissionList.innerHTML = missionList;
      }

      setHeader();

      // add onclick
      // const categories = document.querySelectorAll()
  });
  </script>
{% endblock %}