{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/style7.css' %}" />
    <script type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="main"></div>
        <div class="title">결제가 완료되었습니다<br>
            고객님의 주문 번호는
        </div>
        <div class="number">
            {{o_qs.OrderNum}}
        </div>
        <div class="title">입니다.</div>
    <div class="back"><a href="menus">메인화면으로 돌아가기</a></div>
{% endblock %}