{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="header">
            <div class="banner">
                <p>
                <img src="{% static 'img/MacLogo.png' %}" alt="">
                </p>
            </div>
        </div>
        <div class="cash_title">
            결제가 완료되었습니다.
            <br>
            고객님의 주문 번호는
        </div>
        <div class="cash_title font-black">
            {{ payment_pk }}
        </div>
        <div class="cash_title">번 입니다.</div>
        <button class="back">
            <a class = "btn complete_btn" href="{% url 'introapp:complete' %}?payment_pk={{ payment_pk }}">
                시니스크
                <br>
                돌아가서 확인하기
            </a>
        </button>
    </div>
        
{% endblock %}
