
{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
<!-- <div class="btn"><button onClick="history.go(-1)">◀</button></div> -->
<div class="wrapper background">
  <div class="flex items-center text">
    <span class="font-bold">
      식사하실 장소를 <br>선택해주세요.
    </span>
  </div>
  <div class="place_select">
    <ul>
      <li>
        <div class="photo">
            <button id="menu-link">
                <img src="{% static 'img/heremac.png' %}" />
            </button>
            <input type="hidden" id="packing-input" name="packing" value="매장" />
        </div>
        <div class="place">
          <a>매장에서 식사</a>
        </div>
      </li>
      <li>
        <div class="photo">
            <button id="menu-link2">
              <img src="{% static 'img/takeout.jpeg' %}" />
            </button>
            <input type="hidden" id="packing-input2" name="packing" value="포장" />
        </div>
        <div class="place">
          <a>테이크 아웃</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/mcdonald/here_togo.js' %}"></script> 
{% endblock %}