<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>맥도날드 키오스크</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"
    />
    <script>
      $(function () {
        var stat3 = $('#increasePrice').text();
        var ProductPrice = parseInt(stat3, 10);

        $('#decreaseQuantity').click(function (e) {
          e.preventDefault();
          var stat = $('#numberUpDown').text();
          var stat2 = $('#total_price').text();

          var num = parseInt(stat, 10);
          var price = parseInt(stat2, 10);

          num--;
          price = price - ProductPrice
          $('#numberUpDown').text(num);
          $('#total_price').text(price);
          getClickData('decreaseQuantity :' + num);
        });

        $('#increaseQuantity').click(function (e) {
          e.preventDefault();
          var stat = $('#numberUpDown').text();
          var stat2 = $('#total_price').text();

          var num = parseInt(stat, 10);

          var price = parseInt(stat2, 10);

          num++;
          price = price + ProductPrice
          $('#numberUpDown').text(num);
          $('#total_price').text(price);
          getClickData('increaseQuantity :' + num);
        });

        // timer
        let time = parseInt(sessionStorage.getItem('time'));
        setInterval(() => {
            time += 1;
            sessionStorage.setItem('time', time);
        }, 1000);

        const getClickData = (button_name) => {
          let clickData = sessionStorage.getItem('clickData');
          const date = new Date();
          clickData.push({
              button_name: button_name,
              datetime: date.toString()
          });

          console.log("click data: ", clickData);
          sessionStorage.setItem('clickData', JSON.stringify(clickData));
        }

        // click event
        document.querySelector('.button_1').children[0].addEventListener('click', getClickData('개수 선택 취소'));
        document.querySelector('.button_1').children[1].addEventListener('click', getClickData('개수 선택 완료'));
      });
    </script>
  </head>

  <body>
    <div class="banner">
      <p>로고나 브랜드명</p>
    </div>
    <div class="select">
      <li class="menu">
        <div class="photo">
          <img src="{% static 'img/double cheese set.png' %}" />
        </div>
        <div class="menu_name">
          <a class="menu_name">더블 치즈 버거 세트</a>
          <div class="price" id="increasePrice">6700원</div>
        </div>
      </li>
      <li class="arrows">
        <button id="increaseQuantity"><img class="triangle" src="{% static 'img/triangle-up.png' %}"></button>
        <span class="count" id="numberUpDown">
          1
        </span>
        <button id="decreaseQuantity"><img class="triangle" src="{% static 'img/triangle-down.png' %}"></button>
      </li>
      <li class="button_1">
        <button type="button" onclick="location.href='menus'">장바구니 추가</button>
        <button type="button" onclick="location.href='menus'">취소</button>
      </li>
    </div>

    <div class="basket">
      <div class="total">Total: </div>
      <p id="total_price">0</p>
      <div class="won"> 원</div>
    </div>
  </body>

</html>