{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}?ver=1" />

    <script type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="btn"><button onClick="history.go(-1)">◀</button></div>

    <div id=div_01>
    <div class="menu">
      <ul class="menu_list" id="menuList">
        <li>
          <div class="photo">
            <img class="payment" src="{% static 'images/debit-card.png' %}" />
          </div>
          <div class="menu_name">
            <a href="inputcard" class="menu_name">카드 결제</a>
          </div>
        </li>
        <li>
          <div class="photo">
            <img class="payment" src="{% static 'images/cash-payment.png' %}" />
          </div>
          <div class="menu_name">
            <a href="inputcash" class="menu_name">현금 결제</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
{% endblock %}