
{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
<!-- <div class="btn"><button onClick="history.go(-1)">◀</button></div> -->
<div class="wrapper background">
  <div class="text">
    <span class="font-bold">
      식사하실 장소를 선택해주세요.
    </span>
  </div>
  <div class="place_select">
    <ul>
      <li>
        <div class="photo">
            <a href="{% url 'mcdonaldapp:index' %}">
              <img src="{% static 'img/heremac.png' %}" />
            </a>
        </div>
        <div class="place">
          <a>매장에서 식사</a>
        </div>
      </li>
      <li>
        <div class="photo">
            <a href="{% url 'mcdonaldapp:index' %}">
              <img src="{% static 'img/takeout.jpeg' %}" />
            </a>
        </div>
        <div class="place">
          <a>테이크 아웃</a>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}