{% extends 'kiosk_base.html' %}
{% load static %}

{% block extra-style %}
<style>
  a {
    text-decoration: none;
    color: black;
  }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}?after" />

<script>
  $(document).ready(function () {
    $('ul.category li').click(function () {
      var tab_id = $(this).attr('data-tab');

      $('ul.category li').removeClass('current');
      $('.menu').removeClass('current');

      $(this).addClass('current');
      $("#" + tab_id).addClass('current');
    })

  })
</script>
{% endblock %}

{% block content %}

<div class="tab">
  <ul class="category">
    <li data-tab="tab-1" class="tab-link current">세트메뉴</li>
    <li data-tab="tab-2" class="tab-link">단품</li>
    <li data-tab="tab-3" class="tab-link">사이드</li>
    <li data-tab="tab-4" class="tab-link">디저트</li>
    <li data-tab="tab-5" class="tab-link">음료</li>
  </ul>
  
</div>
  <div class="menu current" id="tab-1">
    <ul class="menu_list" id="menuList1">
      {% for set in sets %}
      <li>
        <a href="howmany/{{ set.pk }}" clas="menu_name">
          <div class="photo">
            <img src="{{set.image.url}}" alt="Nothing">
          </div>
          <div class="menu_name">
            {{set.MenuName}}
            <div class="price">\ {{set.MenuPrice}}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu" id="tab-2">
    <ul class="menu_list" id="menuList2">
      {% for single in singles %}
      <li>
        <a href="howmany/{{ single.pk }}" clas="menu_name">
          <div class="photo">
            <img src="{{single.image.url}}" alt="Nothing">
          </div>
          <div class="menu_name">
            {{single.MenuName}}
            <div class="price">\ {{single.MenuPrice}}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu" id="tab-3">
    <ul class="menu_list" id="menuList3">
      {% for side in sides %}
      <li>
        <a href="howmany/{{ side.pk }}" clas="menu_name">
          <div class="photo">
            <img src="{{side.image.url}}" alt="Nothing">
          </div>
          <div class="menu_name">
            {{side.MenuName}}
            <div class="price">\ {{side.MenuPrice}}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu" id="tab-4">
    <ul class="menu_list" id="menuList4">
      {% for dessert in desserts %}
      <li>
        <a href="howmany/{{ dessert.pk }}" clas="menu_name">
          <div class="photo">
            <img src="{{dessert.image.url}}" alt="Nothing">
          </div>
          <div class="menu_name">
            {{dessert.MenuName}}
            <div class="price">\ {{dessert.MenuPrice}}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="menu" id="tab-5">
    <ul class="menu_list" id="menuList4">
      {% for drink in drinks %}
      <li>
        <a href="howmany/{{ drink.pk }}" clas="menu_name">
          <div class="photo">
            <img src="{{drink.image.url}}" alt="Nothing">
          </div>
          <div class="menu_name">
            {{drink.MenuName}}
            <div class="price">\ {{drink.MenuPrice}}</div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
<div class="basket">
  <p>Total: </p>
  <p id="total_price">{{ total_price }}</p>
  <p>원</p>
  <div class="buttonWrapper">
    <button class="reset" onclick="location.href='{% url 'MacKiosk:reset2' %}'">초기화</button>
    <button class="title" onclick="location.href='/kiosk/basket'">장바구니</button>
  </div>
</div>
{% endblock %}