{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="banner">
        <p>
            <a href="{% url 'mcdonaldapp:menu' %}">
              <img src="{% static 'img/MacLogo.png' %}" alt="">
            </a>
        </p>
    </div>
    <a href="{% url 'mcdonaldapp:complete' %}?packing={{ packing }}&method=카드">

        <div class="cash_title">
            카드를 아래의 투입구에
            <br>
            삽입해 주세요.
        </div>
        <img src="{% static 'img/card.png' %}" class="pay_img" />
    </a>
</div>

<script type="text/javascript" src="{% static 'js/mcdonald/timer.js' %}"></script> 
{% endblock %}
