{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="banner">
        <p>
            <button onClick="history.go(-1)">
                <p>◀</p>
            </button>
            <img src="{% static 'img/MacLogo.png' %}" alt="">
        </p>
    </div>
    <div class="title">
        카드를 아래의 투입구에
        <br>
        삽입해 주세요.
    </div>
    <a href="{% url 'mcdonaldapp:complete' %}">
        <img src="{% static 'img/card.png' %}" class="pay_img" />
    </a>
</div>
{% endblock %}
