{% extends 'mac_seller_base.html' %}
{% load static %}

{% block title %}맥도날드 주문관리{% endblock %}

{% block extra-style %}
    <link rel="stylesheet" href="{% static 'css/seller.css' %}" />
{% endblock %}

{% block order %}
<h3 class="text-warning font-weight-bold">주문관리</h3>
{% endblock %}

{% block content %}
<div class="orderList">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" style="width:14vw; min-width:110px;">날짜</th>
            <th scope="col" style="width:7vw; min-width:60px;">주문번호</th>
            <th scope="col" style="width:35vw; min-width:200px;">주문 내역</th>
            <th scope="col">관리</th>
            <th style="border-left:hidden; border-right:hidden; width:5px;"></th>
        </tr>
        </thead>

        <tbody>

        {%for item in object_list %}
        <tr>
            <td style="width:14vw; min-width:110px;">{{ item.OrderDate }}</td>
            <td style="width:7vw; min-width:60px;" class="font-weight-bold">{{ item.OrderNum }}</td>
            <td style="text-align:left; width:35vw; min-width:200px;">{{ item.OrderMenu }}&nbsp&nbsp{{ item.OrderQty }}개</td>
            <td>
                <a href="{% url 'MacKiosk:call' item.id %}" class="btn btn-sm active" role="button" aria-pressed="true">호출</a>
                &nbsp&nbsp&nbsp
                <a href="{% url 'MacKiosk:order_complete' item.id %}" class="btn btn-sm active" role="button" aria-pressed="true">완료</a>
                &nbsp&nbsp&nbsp
                <button type="button" class="btn btn-sm btn-danger font-weight-bold active" aria-pressed="true" onclick="if(!confirm('주문을 취소하시겠습니까?')){return false;} location.href='{%url 'MacKiosk:order_cancel' item.id %}';">⨉</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}