{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <script type="text/javascript"></script>
{% endblock %}

{% block content %}

  <div class="wrapper wrap">
    <div class="banner">
      <p>
        <button onClick="history.go(-1)">
          <p>◀</p>
        </button>
        <img src="{% static 'img/MacLogo.png' %}" alt="">
      </p>
    </div>
    <div class="pay">
      <ul class="pay_list">
        <li>
          <div class="payment">
            <a href="{% url 'mcdonaldapp:insert_card' %}">
              <img src="{% static 'img/credit.png' %}" />
            </a>
            <div class="pay_name">
              <a href="{% url 'mcdonaldapp:insert_card' %}">카드 결제</a>
            </div>
          </div>
        </li>
        <li>
          <div class="payment">
            <a href="{% url 'mcdonaldapp:insert_cash' %}">
              <img class="payment" src="{% static 'img/cash.png' %}" />
            </a>
            <div class="pay_name">
              <a href="{% url 'mcdonaldapp:insert_cash' %}">현금 결제</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}