{% extends 'mac_kiosk_base.html' %}
{% load static %}

{% block extra-style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script>

    const getClickData = (button_name) => {
        let clickData = [];
        if ( sessionStorage.getItem('clickData') ) {
            clickData = JSON.parse(sessionStorage.getItem('clickData'));
        }
        const date = new Date();
        clickData.push({
            button_name: button_name,
            datetime: date.toString()
        });

        console.log("click data: ", clickData);
        sessionStorage.setItem('clickData', JSON.stringify(clickData));
    }

    $(function(){
        var num = 0;
        var stat3 = $('#increasePrice').text();
        var ProductPrice = parseInt(stat3,10);

        $('#decreaseQuantity').click(function(e){
            e.preventDefault();
            getClickData('decreaseQuantity');
            var stat = $('#numberUpDown').val();
            var stat2 = $('#MenuPrice').text();

            var num = parseInt(stat,10);
            var price = parseInt(stat2,10);
            if (num > 0) {
                num--;
                price = price * num;

                $('#numberUpDown').val(num);
                $('#total_price').text(price);
            }
            updateURLAndHref(num);
        });

        $('#increaseQuantity').click(function(e){
            e.preventDefault();
            getClickData('increaseQuantity')
            var stat = $('#numberUpDown').val();
            var stat2 = $('#MenuPrice').text();

            var num = parseInt(stat,10);
            var price = parseInt(stat2,10);
            var total_price = 0;

            num++;
            total_price = price * num;

            $('#numberUpDown').val(num);
            $('#total_price').text(total_price);
            updateURLAndHref(num);
        });

         // timer
         let time = parseInt(sessionStorage.getItem('time'));
        setInterval(() => {
            time += 1;
            sessionStorage.setItem('time', time);
        }, 1000);

      function updateURLAndHref(num) {
            var url = new URL(window.location.href);
            url.searchParams.set('num', num);
            history.replaceState(null, '', url.toString());

            var quantityParam = `quantity=${num}`;
            var newHref = `{% url 'mcdonaldapp:basket' %}?packing={{ packing }}&name={{ name }}&price={{ price }}&${quantityParam}`;

            $('#addToBasketLink').attr('href', newHref); // a 태그의 href 속성 업데이트
        }
    });
    </script>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="banner">
        <p>
            <a href="{% url 'mcdonaldapp:menu' %}">
              <img src="{% static 'img/MacLogo.png' %}" alt="">
            </a>
        </p>
    </div>
    <form method="post" action="{% url 'mcdonaldapp:basket' %}">{% csrf_token %}
        <input type="hidden" name="MenuID" value="{{ name }}">
        <div class="flex row">
            <div class="select_menu">
                <li>
                    <div class="photo"> 
                        <img src="{% static 'img/'|add:image|add:'.png' %}" />
                    </div>
                    <div class="menu_list">
                        <a class="menu_name" name="MenuName">
                            {{ name}}
                        </a>
                        <div class="price" name="MenuPrice">
                            ₩<span id="MenuPrice">{{ price }}</span>
                        </div>
                    </div>
                </li>
            </div>
            <div class="textCenter">
                <div class="total_mc">Total: <span id="total_price">{{ price }}</span> 원</div>
            </div>
            <li class="arrows">
                <span class="material-symbols-outlined" id="decreaseQuantity">
                    remove
                </span>
                <input class="count" id="numberUpDown" name="MenuQty" value="1">
                <span class="material-symbols-outlined" id="increaseQuantity">
                    add
                </span>
            </li>
        </div>
        <li class="button_1">
            <button type="button">
                <a href="{% url 'mcdonaldapp:menu' %}?packing={{ packing }}">취소</a>
            </button>
            <button type="submit" class="add-basket">
                <a id="addToBasketLink">장바구니 추가</a>
            </button>
        </li>
    </form>
</div>
{% endblock %}
