
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background">
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5">
            <img src="{% static 'img/mcdonalds.png' %}" alt="맥도날드 이미지">
            <span class = "font-bold fs-1">
                맥도날드에 오신 것을 환영합니다!
                <br>
                주문하시려면 아래의 버튼을 눌러주세요.
            </span>
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn" href="{% url 'mcdonaldapp:here_togo' %}">주문하기</a>
        </div>

        <form class="mission_text" style="display: none;">
            <div>
                <input type="hidden" class="menu_names" value="{{ request.session.mega_menu }}" />
                <input type="hidden" class="quantity" value="{{ request.session.mega_quantity }}" />
                <input type="hidden" class="packing" value="{{ request.session.mega_packing }}" />
                <input type="hidden" class="payment" value="{{ request.session.mega_payment }}" />
            </div>
        </form>
        
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function(){
        // mission setting
        const menu_names = document.querySelector('.menu_names').value.split(',');
        const quantities = document.querySelector('.quantity').value.split(',');
        const packing = document.querySelector('.packing').value;
        const payment = document.querySelector('.payment').value;
        
        let mission = [];

        for ( let i=0 ; i < menu_names.length-1 ; i++ ) {
            const newMenu = {
                menu: menu_names[i],
                quantity: quantities[i],
                packing: packing,
                payment: payment,
            }
            mission.push(newMenu);
        }

        sessionStorage.setItem('mission', JSON.stringify(mission));
    });
</script>
{% endblock%}
