
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background">
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5">
            <img src="{% static 'img/mcdonalds.png' %}" alt="맥도날드 이미지">
            <span class = "font-bold fs-1">
                맥도날드에 오신 것을 환영합니다!
                <br>
                주문하시려면 아래의 버튼을 눌러주세요.
                <br>
                {{ request.session.mega_menu }}
                <br>
                {{ request.session.mega_quantity }}
                <br>
                {{ request.session.mega_payment }}
                <br>
                {{ request.session.mega_packing }}
            </span>
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn" href="{% url 'mcdonaldapp:here_togo' %}">주문하기</a>
        </div>
    </div>
</div>

{% endblock%}
