
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background_mac">
    <div class = "center">

        <span class = "font-bold fs-1">
            맥도날드를 연습해 보세요!
        </span>

        <div class = "flex justify-center align-center items-center my-5">
            <img class="mac" src="{% static 'img/mc_logo.png' %}" alt="맥도날드 이미지">
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn_mac" href="{% url 'mcdonaldapp:here_togo' %}">ORDER</a>
        </div>

        <form class="mission_text" style="display: none;">
            <div>
                <input type="hidden" class="menu_names" value="{{ request.session.mega_menu }}" />
                <input type="hidden" class="quantity" value="{{ request.session.mega_quantity }}" />
                <input type="hidden" class="packing" value="{{ request.session.mega_packing }}" />
                <input type="hidden" class="payment" value="{{ request.session.mega_payment }}" />
            </div>
        </form>
        
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function(){
        sessionStorage.removeItem("clickData");
        sessionStorage.removeItem("orderMenu");
        sessionStorage.removeItem("remain_time");
        sessionStorage.removeItem("total_price");
        sessionStorage.removeItem("mission");
        sessionStorage.removeItem("accuracy");
        sessionStorage.removeItem("paying-time");
        sessionStorage.removeItem("packaging");
        sessionStorage.removeItem("time");
        
        // mission setting
        const menu_names = document.querySelector('.menu_names').value.split(',');
        const quantities = document.querySelector('.quantity').value.split(',');
        const packing = document.querySelector('.packing').value;
        const payment = document.querySelector('.payment').value;
        
        let mission = [];

        for ( let i=0 ; i < menu_names.length-1 ; i++ ) {
            const newMenu = {
                menu: menu_names[i],
                quantity: quantities[i],
                packing: packing,
                payment: payment,
            }
            mission.push(newMenu);
        }

        sessionStorage.setItem('mission', JSON.stringify(mission));
        sessionStorage.setItem('time', 0);
        sessionStorage.setItem('clickData', JSON.stringify([]));
    });
</script>
{% endblock%}
