.footer {
    background: #eee;
    display: grid;
    margin: 0 auto 15px;
    padding: 15px;
    width: 960px;
    height: 300px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    text-align: center;
}

.order-list {
    grid-column: 1/5;
    grid-row: 1/4;
    overflow-y: auto;
    background: #fff;
    margin-right: 15px;
    border: 0;
    border-radius: 10px;
}

.order-list::-webkit-scrollbar {
    width: 5px;
}

.order-list::-webkit-scrollbar-thumb {
    background-color: #6b6d74;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.order-list::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: -1px;
    padding: 10px 15px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #e7ecee;
    list-style: none;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a3939;
}

.remove-item {
    display: block;
    line-height: 1.5;
    cursor: pointer;
    color: #3a3939;
}

.remaining-time-container {
    grid-column: 5/6;
    grid-row: 1/2;
    margin: 5px;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}

.remaining-time {
    font-size: 2.5rem;
    color: tomato;
}

.delete-all-items {
    grid-column: 6/7;
    grid-row: 1/2;
    margin: 5px;
    background: #FFB800;
    border: 0;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

.selected-item-container {
    grid-column: 5/7;
    grid-row: 2/3;
    margin: 5px;
    background: #fff;
    border-radius: 10px;
    border: 0;
    padding: 10% 0;
    font-size: 1.6rem;
    font-weight: bold;
}

.selected-item-num {
    color: tomato;
}

.order-btn {
    grid-column: 5/7;
    grid-row: 3/4;
    margin: 5px;
    border-radius: 10px;
    border: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

.order-btn-valid {
    background: tomato;
}

.order-btn-invalid {
    border: 1px solid #FFB800;
    background: #FFB800;
}

.total-price {
    font-size: 2rem;
}

.pay-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.modal-visible {
    opacity: 1;
    z-index: 99;
}

.modal-invisible {
    opacity: 0;
    z-index: -10;
}

.pay-modal {
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    margin-top: 100px;
    background: #fff;
    border: 2px solid gray;
    border-radius: 10px;
}

.pay-modal-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #FFB800;
    margin: 15px;
}

.pay-modal-text {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px;
}

.pay-list-head {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    font-weight: bold;
}

.pay-list {
    background: #fff;
    min-height: 200px;
    border: 0;
    border-radius: 10px;
    overflow-y: auto;
}

.pay-list::-webkit-scrollbar {
    width: 5px;
}

.pay-list::-webkit-scrollbar-thumb {
    background-color: #6b6d74;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.pay-list::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.pay-item {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 30px;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #e7ecee;
    list-style: none;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3a3939;
}

.pay-result {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 30px;
    padding: 10px 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.total-item-num {
    color: tomato;
}

.total-item-price {
    color: blueviolet;
}

.pay-result-check {
    background: #FFB800;
    margin: 10px;
    padding-left: 5%;
    width: 40%;
    height: 80px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 15px;
}

.pay-result-cancel {
    background: #d9d9d9;
    margin: 10px;
    padding-left: 5%;
    width: 40%;
    height: 80px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 15px;
}

/* 주문리스트 반응형 웹, 아직 못함 */
@media screen and (max-width: 768px){
    .pay-modal-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .pay-modal-heading{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }



}