.table {
border-color:#4C4B4B;
border-width: 2px;
}

.table thead{
float:left;
width:100%;
}

.table thead tr{
display:table;
border-top:hidden;
border-left:hidden;
width:100%;
}

.table thead tr th{
border-color:#4C4B4B;
vertical-align: middle;
}

.table tbody{
overflow-y:scroll;
overflow-x:hidden;
float:left;
height: 50vh;
width:100%;
}

.table tbody tr{
display:table;
border-top:hidden;
border-left:hidden;
width:100%;
}

.table tbody tr td{
vertical-align: middle;
border-color:#4C4B4B;
border-bottom-color:#9B9B9B
}

.btn {
background-color: #DEDEDE;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;}