/*

공통 테마

*/

:root {
    --dark: #333333;
    --light: #fdfdfd;
    --medium: #aaaaaa;
    --primary: #FADF70;
    --secondary: #b1d463;
    --warning: #edc447;
    --danger: #ed5d47;
    --border: #cccccc;
}

html {
    color: var(--dark);
}

.background {
    background-color: var(--primary);
}

.fs-1 {
    font-size: 2.5rem;
}

/*

layout

*/

.container {
    padding: 1rem 2rem;
    margin: auto;
    display : flex;
    justify-content : center;
}

/* .video {
    padding : 1rem 2rem;
    margin : auto;
} */

.brand_list ul{
    display:flex;
    justify-content : center;
    margin : auto;
}

.brand_list ul li{
    margin: auto;
    background : var(--primary);
    border-radius: 1rem;
}

.brand_list a img {
    margin : 1rem;
    width : 19rem;
    height : 19rem;
}

.brand_list a div{
    padding : 0 1rem 1rem 1rem ;
    font-size: 1.5rem;
    font-weight: 700;
}

.center {
    text-align : center;
    padding : 40vh 0;
    font-size : 1.9rem;
}

.wrapper {
    text-align : center;
    padding : 2rem 0;
    font-size : 1.9rem;
}


/* .video_img {
    padding : 1rem 2rem;
    margin : auto;
} */


/*

components

*/


.btn-big {
    display: inline-flex;
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    background-color: var(--secondary);
    width : 30rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    box-shadow: 1px 1px 5px #cccccc;
}

.btn-big:hover {
    background-color: #fdfdfd;
    color: var(--secondary);
    transition: 1s;
}

.btn {
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.btn:hover {
    background-color: #fdfdfd;
    color: var(--secondary);
    transition: 1s;
}

/*

헤더 header

*/
nav {
    box-shadow: 1px 1px 5px #cccccc;
    padding: 1rem;
}

/* 

mission page

*/

.mega {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mega_select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 726px;
}

.mega_img {
    width: 200px;
    height: 200px;
    margin: 0 2rem;
}

.text {
    font-size: 2rem;
    font-weight: 900;
    margin: auto 1rem;
}

.mission {
    width: 45rem;
    height: 20rem;
    background-color: var(--primary);
    border-radius: 1rem;
}

.mission_text {
    height: 20rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
}
