
.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height : 100vh;
}

.header {
  width: 100%;
}

.banner {
  background-color: rgb(233, 51, 36);
  width: 100%;
  height: 6rem;
}

.banner p {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p img {
  width: 6rem;
  height: 5rem;
  margin: 0.5rem 2rem;
}

/* index2.html */

.text {
  margin: 5rem 0;
}

.font-bold {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.background {
  background-color: #11410f;
}

.place_select ul, .menu_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.place_select ul li, .menu_list ul li {
  background-color: white;
  margin: 0 1rem;
  border-radius: 1rem;
  width: 85%;
  height: 30rem;
}

.place {
  color: rgb(233, 51, 36);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem;
}

.photo a img, .photo img {
  width: 25rem;
  height: 20rem;
  padding: 2rem 0;
}


/* index.html */

.tab {
  display: flex;
  justify-content: center;
  text-align: center;
}

.category {
  display: flex;
  flex-direction: column;
  width: 5rem;
}

.category li{
  padding: 0 1.5rem;
  border-bottom: 3px solid gold;
  color: white; 
  background-color: #EEBF53;
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 3.3rem;
}

.category li.current{
  background-color: orange;
  font-weight: 700;
}

.menu_list {
  flex: 1;
  font-size: 20px;
  display: block;
  padding: 0 1rem;
  text-align: center;
}

.menu_list li {
  display: inline-block;
  height: 20rem;
  margin: 1rem;
  padding: 1rem 1rem 0 1rem;
  border: 3px solid orange;
  border-color: orange;
  border-radius: 1rem;
}

.menu_list li img {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0;
}

.menu {
  display: None;
}

.menu.current {
  display: inherit;
}

.basket {
  background-color: rgba(255,255,255, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.basket p{
  float: left;
}

.reset , .cart{
  margin: 2rem;
  float: right;
  width:  10rem;
  height: 3rem;
  font-size: 2rem;
  color: #e6e6e6;
  cursor: pointer;
}

.cart {
  flex: 0.2;
  background: rgb(233, 51, 36);
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.cart a {
  color: white;
}

.reset{
  flex: 0.2;
  background: #11410f;
  border: 0;
} 

/* howmany(example).html */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.select_menu {
  flex: 1;
  margin: 5rem;
}

.select_menu li {
  border: 5px solid orange;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

.arrows {
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 3.5rem;
  height: 3.5rem;
}

.count {
  width: 5rem;
  border: none;
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.button_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_1 button {
  background: transparent;
  width: 12rem;
  height: 5rem;
  border: 3px solid orange;
  margin: 1.5rem 0;
}

.button_1 a {
  font-size: 1.5rem;
}

.select {
  width: 100%;
}

.priceWrap {
  height: 5rem;
  background-color: #11410f;
}

.textCenter {
  display: flex;
  justify-content: center;
}

.priceWrap .total, .priceWrap p, .priceWrap .won {
  float: left;
}

