
.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height : 100vh;
  margin : 0 20vw;
  width : 60vw;
  padding : 0;
}

.wrap {
  flex-wrap: wrap;
}

.mc_wrapper{
      display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height : 100vh;
  margin : 0 20vw;
  padding : 0;
    flex-wrap: wrap;

}

.header {
  width: 100%;
}

.banner {
  background-color: rgb(233, 51, 36);
  width: 100%;
  height: 6rem;
}

.banner p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p img {
  width: 6rem;
  height: 5rem;
  margin: 0.5rem 2rem;
}

/* index2.html */

.text {
  margin-top: 3rem;

}

.font-bold {
  color: #333;
  font-size: 3rem;
  font-weight: 900;
}

.font-black{
    color : black;
    font-size : 3rem;
    font-weight : 900;
}


.background {
  background-color: #fff;
}

.place_select ul, .menu_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.place_select ul li, .menu_list ul li {
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 1rem;
}

.place {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.photo a img, .photo img {
  width: 15rem;
  object-fit: contain;
  padding: 0 0;
  text-align: center;
  margin: 0 auto;
}

.place_select li {
  border: 1.5px solid #999 ;
  border-radius: 1rem;
}

/* index.html */

.tab {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom : 120px;
}

.mc_tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom : 120px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.category li{
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 1.4rem;
  width : 150px;
}

.category li i {
  color: #EEBF53;
  text-decoration: none;
  margin-right: 0.6rem;
}

.category li.current {
  font-weight: 700;
  border-top: 5px solid #999;
}

.category li.current span{
  text-decoration: underline #EEBF53;
  text-decoration-thickness: 0.5rem;
}

.menu_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.menu_list li {
  display: inline-block;
  margin: 1rem;
  width: 8rem;
  border: 1px solid #444;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.menu_name {
  word-break: keep-all;
}

.menu_list li img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  margin: 0rem 1rem 0rem 1rem;
}

.menu {
  display: None;
  margin-bottom : 120px;
}

.menu.current {
  display: inherit;
}

.basket {
  background-color: rgba(255,255,255, 0.8);
  position: fixed;
  bottom: 0;
  width : 60vw;
  border : 2px solid var(--dark);
  border-radius : 0.1rem;
}

.basket p {
  display : flex;
  justify-content : center;
  margin : 1rem;
}

.cart, .charge_btn{
  margin: 1rem;
  font-size: 1.4rem;
  padding: 0.2rem 1rem;
  color: #e6e6e6;
  cursor: pointer;
}

.cart {
  border: none;
  flex: 0.2;
  background: #009000;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.cart a, .charge_btn a{
  color: white;

}

.charge_btn {
    flex : 0.2;
    background : #FF3232;
    border : 0;
    border-radius: 0.5rem;

}

.padding {
    padding : 2rem 2rem;
    width : content;
    margin : 1rem;
}



.reset{
  flex: 0.2;
  background: var(--danger);
  border: 0;
  border-radius: 0.5rem;

} 

/* howmany(example).html */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.select_menu {
  flex: 1;
  margin: 5rem;
}

.select_menu li {
  font-size: 2rem;
  padding: 1rem;
}

.arrows {
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrows span {
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
}

.count {
  width: 5rem;
  border: none;
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.button_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.button_1 button {
  background: transparent;
  border: 1px solid #666;
  padding: 0.2rem 4rem;
  margin: 1rem 0.4rem;
  border-radius: 0.2rem;
}

.button_1 .add-basket {
  background-color: #EEBF53;
  border: none;
}

.button_1 a {
  font-size: 1.5rem;
}

.select {
  width: 100%;
}

.basket-bottom {
  width: 100vw;
  box-shadow: 0px -15px 10px -2px rgba(200,200,200, 0.2);
}

.textCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border : 1px solid #666;
  border-radius : 0.5rem;
  margin-bottom: 1rem;
}

.total_mc {
  float: left;
  padding : 1rem;
  width : 400px;
}

/* indexx3.html */

.banner p button {
  width: 3rem;
  height: 3rem;
  background-color: #EEBF53;
  border: none;
  font-size: 1.5rem;
  color: white;
}



.pay {
  text-align: center;
}

.pay_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.pay_list li {
  margin: 0 1rem;
  border: 1px solid #666;
  border-radius: 1.5rem;
}

.payment {
  width: 70%;
  height: 20rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment img {
  width: 100%;
  height: auto;
}

.payment-desc {
  font-size: 1.3rem;
  font-weight: bold;
}

.pay_name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  text-align: center;
}

.payment-back {
  border: 1px solid #666;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
}

/* inputcard.html */

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 4rem;
  text-align: center;
}

.cash_title{
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
}

.pay_img {
  width: 25rem;
  height: 25rem;
  margin: 3rem;
}

/* complete.html */

 .btn_content {
    width : content;
    border-radius: 3px;
    padding : 1rem 2rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    margin : auto;
}

.btn_content:hover {
    background-color: #fdfdfd;
    color: var(--secondary);
    transition: 1s;
} 

/* basket.html */

.title_cart {
  margin-top: 2rem;
}

#btn-empty {
  flex-wrap: wrap;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgb(233, 51, 36);
  color: white;
  border: none;
  transform: translate(350%, 0);
}

.table {
  height: content;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-radius : 1rem;
}

.table #orderedmenu{
    padding : 2rem;
    margin : 2rem;
}

td, th {
  width: 22rem;
  padding: 0.5rem;

}

th {
    color : black;
    font-size : 1.2rem;
    font-weight : 900;
}

.t_cancel {
  width : 100px;
}
.t_cancel button {
  border: 1px solid #666;
  padding: 0.2rem 1rem
}

.t_menu {
    width : 200px;
}
.t_amount {
    width : 100px;
}

.priceWrap {
    margin : 2rem;
}

.goshopping, .charge {
  border-radius: 0.2rem;
  width: 12rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem
}

.goshopping a, .charge a {
  color: black;

}

.goshopping {
  border : 1px solid #333;
  margin-right: 0.5rem;
}

.charge {
  background-color: #EEBF53;
  padding: 0.5rem 8rem;
}