/*

공통 테마

*/

.background {
    background-color: var(--primary);
}

.background span {
    margin: 1.5rem;
}

.background img {
    width: 18rem;
    height: 18rem;
    border-radius: 10rem;
}

.center, .wrapper {
    text-align : center;
    font-size : 1.9rem;
}



.center {
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.complete_menu {
    border : 3px solid var(--secondary);
    border-radius : 0.5rem;
    padding : 1rem 1rem;
    width : 377px;
}


.column {
    flex-direction: column;
    flex-wrap : nowrap;
    width : 50%;
    align-items : center;
}

.receipt .column {
    flex-direction: column;
    flex-wrap : nowrap;
    width : 100%;
    align-items : center;
}

/*

layout

*/

.container {
    padding: 1rem 2rem;
    margin: auto;
    display : flex;
    justify-content : center;
}

/* .video {
    padding : 1rem 2rem;
    margin : auto;
} */

/* .video_img {
    padding : 1rem 2rem;
    margin : auto;
} */

.brand_list ul{
    display:flex;
    justify-content : center;
    margin : auto;
}

.brand_list ul li{
    margin: 1rem;
    width : 400px;
    background : var(--primary);
    border-radius: 1rem;
}

.brand_list a img {
    width: 350px;
    object-fit: cover;
    margin : 1rem auto;
    border-radius : 1rem;

}

.brand_list a div{
    padding : 0 1rem 1rem 1rem ;
    font-size: 1.5rem;
    font-weight: 700;
}

.ordered, .answer {
    background : var(--light);
    margin-bottom : 2rem;
    border-radius : 0.5rem;
    color : var(--dark);
}

.highlight {
    background : var(--light);
    margin : auto;
    border-radius : 0.5rem;
}

.title {
    background : var(--secondary);
    margin: 30px;
    padding : 1rem 2rem;
    width : 300px;
    border : var(--dark);
    border-radius : 0.5rem;
}

form {
    padding : 2rem 2rem;
    margin-left : 30vh;
    margin-right : 30vh;
    /* background-color : var(--primary); */
}

form legend {
    background-color : var(--secondary);
    padding : 10px;
    border-radius : 0.5rem;
}

/*
 * survey.html
 */

.survey {
    background-color : var(--light);
   
    margin : 5vh;
}
.survey-body{
    flex-direction: column;

    background-color: white; /* 페이지 배경색 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.survey-container{
    width:45rem;
    padding:2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    border-radius:1rem;
    text-align:left;
    box-shadow:0 8px 20px rgba(35,0,77,.2);
    align-items: center;
}

.img{
    width:310px;
    margin:1.5rem;
    align-items: center;
    
}

.survey-slect{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.radio,
.checkbox {
  margin-bottom: 10px;
}

.button {
    padding:1rem;
    padding-left: 13%;
    padding-right: 13%;
    margin:2rem 0;
    margin-right:1rem;
    color:#fff;
    text-align:center;
    border-radius:.5rem;
    font-size: large;
}

.sv-font {
    font-size : 30px;
}
.survey-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;

  }

/*
 *  complete
 */

.complete_conatiner {
    justify-content: space-evenly;
    display:flex;
    padding:2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.complete_contents {
    width:550px;
    padding:2rem;
    border-radius:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align:left;
    box-shadow:0 8px 20px rgba(35,0,77,.2);
    position:relative;
}
.complete_title{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
}
.complete_details{
    padding:2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: x-large; 
}
.complete_button{
    padding:2rem; 
    padding-left:7rem; 
    padding-right:7rem;
}

/*

components

*/

.btn-big, .btn {
    border-radius: 0.5rem;
    padding : 1rem 2rem;
    width: 20rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn:hover {
    background-color: #fdfdfd;
    color: var(--secondary);
    transition: 1s;
}

.btn-big {
    position: relative;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: var(--secondary);
    transition: all 0.2s ease;
  }

  .btn-big:active, .btn-big:hover {
    transform: scale(0.96);
    color: var(--secondary);
    background-color: white;
  }

  .btn-big:before,
  .btn-big:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  .btn-big.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, white 20%, transparent 30%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 15%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .btn-big.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, white 15%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%),
      radial-gradient(circle, white 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
  }
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

.btn {
    display: flex;
    font-weight: 700;
    margin : auto;
}

/* question.html */

.btn-square {
    width: 13rem;
    height: 20rem;
    box-shadow: 1px 1px 5px #cccccc;
}

.btn-yellow {
    background-color: var(--primary);
}

.btn-yellow:hover {
    color: var(--primary);
}

.btn-square, .btn-pay {
    margin: 1rem;
}

/* receipt.html */
.receipt-page>.center {
    height: 100%;
    background-color: #FFB800;
}

.btn-square-small {
    width: 13rem;
    height: 8rem;
    font-size: 1.3rem;
    background-color: transparent;
    color: #333;
    border: 1px solid #cccccc;
}

.no-margin-right {
    margin-right: 0;
}

.flex.justify-center.align-center.items-center.my-5.pay {
    text-align: center;
    display: flex;
    width: 80vw;
    padding-left: 4rem;
    align-items: center;
    justify-content: space-between;
}

.flex.justify-center.align-center.items-center.my-5.pay a {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-desc {
    font-size: 1rem;
    margin-top: 1rem;
}
.step-tag {
    padding: 0.2rem 0.8rem;
    background-color: #FFB800;
    border-radius: 0.2rem;
}


/*

헤더 header

*/
nav {
    padding: 1rem;
}


/* 

mission page

*/

.wrap, .select, .receipt_list {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.wrap {
    flex-direction: column;
    margin: 2.5rem;
}

.select, .mission {
    width: 45rem;
}

.wrap img {
    width: 9rem;
    height: 9rem;
    margin: 1.5rem 2rem;
    border-radius: 1rem;
}

.wrap p {
    font-size: 2rem;
    font-weight: 900;
}

.mission {
    height: 20rem;
}

.mission_text {
    height: 19rem;
}

.mission {
    border: 0.5rem solid var(--primary);
    border-radius: 1rem;
    text-align: center;
}

.mission_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* 

receipt.html

*/

.margin-right {
    margin-right: 5rem;
}

.list {
    flex: 1;
}

.list p{
    padding : 10px;
    font-size : 25px;
}

.total {
    width: 100%;
    background-color: var(--primary);
}

/* 

complete.html

*/


.long-height {
    height: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align : center;
    font-size : 1.9rem;
}

.method-order, .method-mission {
    background-color: var(--light);
    margin-left: 3rem;
    margin-bottom : 2rem;
    width : 300px;
    border : 3px solid var(--primary);
    border-radius : 0.5rem;
    padding : 1rem 1rem;


}

.blank{
    margin : 2rem ;
}

.height {
    height : 125px;
}
.font-big {
    font-size: 2.5rem;
}

.orderWrap, .missionWrap, .correctWrap {
    width: 60vw;
    height : content;
}


.orderWrap {
    height : content;
}

.menu {
    border-radius : 0.5rem;
    border-color : var(--secondary);
}

.line {
    border-left : 5px solid var(--dark);
}
@media screen and (max-width: 950px){
    .wrap{
        flex-direction: column;
        align-items: flex-start;
    }

    .select{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .select > img{
        margin: 0 0;
    }

    .select > p{
        margin-bottom: 40px;
    }

    .mission{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flex{
        justify-content: center;
        width: 100%;
    }

    .flex.my-5{
        flex-direction: column;
        align-items: center;
        width: 100%;
    } 

    .flex.justify-center.align-center.items-center.my-5{
        flex-direction: row;
        align-items: center;   
        width: 100%;
    }

    svg{
        margin-left: 110px;
        margin-bottom: 30px;
    }

    .flex.column.pay{
        flex-direction: column;    
        align-items: flex-start;
        margin: 0;
    }

    .receipt_list{
        /* align-items: center;
        flex-direction: row; */
        background-color: white;
        justify-content: center;
        width: 100%;
        margin-left: 20px;
    }

    .list{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .list > p {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .total{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flex.column{
        flex-direction: row;    
        align-items: flex-start;
        margin-top: 10rem;
    }
    
    .btn.btn-pay.btn-square-small{
        flex-direction: column;
        align-items: center;
        width: 5rem;
        height: 5rem;
        font-size: 1.1rem;
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .mission p{
        font-size: 1.5rem;
    }

    .btn-big{
        width: 20rem;
    }

}
