/*

공통 테마

*/

.background {
    background-color: var(--primary);
}

.background span {
    margin: 1.5rem;
}

.background img {
    width: 18rem;
    height: 18rem;
    border-radius: 10rem;
}

.center, .wrapper {
    text-align : center;
    font-size : 1.9rem;
}

.center {
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding : 2rem 0;
}

.complete_menu {
    border : 3px solid var(--secondary);
    border-radius : 0.5rem;
    padding : 1rem 1rem;
}


.column {
    flex-direction: column;
    width : 50%;
}

/*

layout

*/

.container {
    padding: 1rem 2rem;
    margin: auto;
    display : flex;
    justify-content : center;
}

/* .video {
    padding : 1rem 2rem;
    margin : auto;
} */

/* .video_img {
    padding : 1rem 2rem;
    margin : auto;
} */

.brand_list ul{
    display:flex;
    justify-content : center;
    margin : auto;
}

.brand_list ul li{
    margin: 1rem;
        width : 400px;
    background : var(--primary);
    border-radius: 1rem;
}

.brand_list a img {
    width: 350px;
    object-fit: cover;
    margin : 1rem auto;
    border-radius : 1rem;

}

.brand_list a div{
    padding : 0 1rem 1rem 1rem ;
    font-size: 1.5rem;
    font-weight: 700;
}

.ordered, .answer {
    background : var(--light);
    margin-bottom : 2rem;
    border-radius : 0.5rem;
}

.highlight {
    background : var(--light);
    margin : auto;
    border-radius : 0.5rem;
}

.title {
    background : var(--secondary);
    margin: auto;
    padding : 1rem 2rem;
    border : var(--dark);
    border-radius : 0.5rem;
}

form {
    padding : 2rem 2rem;
    margin : 30vh;
    background-color : var(--primary);
}

form legend {
    background-color : var(--secondary);
    padding : 10px;
    border-radius : 0.5rem;
}

.survey {
    background-color : var(--light);
    padding : 2rem 2rem;
    margin : 5vh;
}
/*

components

*/

.btn-big, .btn {
    border-radius: 0.5rem;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-big:hover, .btn:hover {
    background-color: #fdfdfd;
    color: var(--secondary);
    transition: 1s;
}

.btn-big {
    display: inline-flex;
    padding: 1.5rem 3rem;
    width : 30rem;
    font-weight: bold;
    font-size: 1.8rem;
    box-shadow: 1px 1px 5px #cccccc;
}

.btn {
    display: flex;
    padding: 1rem 2rem;
    font-weight: 700;
    margin : auto;
}

/* question.html */

.btn-square {
    width: 13rem;
    height: 20rem;
    box-shadow: 1px 1px 5px #cccccc;
}

.btn-yellow {
    background-color: var(--primary);
}

.btn-yellow:hover {
    color: var(--primary);
}

.btn-square, .btn-pay {
    margin: 1rem;
}

/* receipt.html */

.btn-square-small {
    width: 13rem;
    height: 13rem;
    font-size: 1.8rem;
}

.no-margin-right {
    margin-right: 0;
}

/*

헤더 header

*/
nav {
    box-shadow: 1px 1px 5px #cccccc;
    padding: 1rem;
}


/* 

mission page

*/

.wrap, .select, .receipt_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-direction: column;
    margin: 2.5rem;
}

.select, .mission {
    width: 45rem;
}

.wrap img {
    width: 9rem;
    height: 9rem;
    margin: 1.5rem 2rem;
    border-radius: 1rem;
}

.wrap p {
    font-size: 2rem;
    font-weight: 900;
}

.mission {
    height: 20rem;
}

.mission_text {
    height: 19rem;
}

.mission, .receipt {
    border: 0.5rem solid var(--primary);
    border-radius: 1rem;
    text-align: center;
}

.mission_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/* 

receipt.html

*/

.margin-right {
    margin-right: 5rem;
}

.list {
    flex: 1;
}

.receipt {
    width: 30rem;
    height: 34rem;
}

.total {
    width: 100%;
    background-color: var(--primary);
}

/* 

complete.html

*/

.long-height {
    height: 140vh;
}

.method-order, .method-mission {
    background-color: var(--light);
    margin-left: 1rem;
}

.font-big {
    font-size: 2.5rem;
}

.orderWrap, .missionWrap, .correctWrap {
    width: 60vw;
}

.orderWrap, .missionWrap {
    height: 60vh;
}

@media screen and (max-width: 950px){
    .wrap{
        flex-direction: column;
        align-items: flex-start;
    }

    .select{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .select > img{
        margin: 0 0;
    }

    .select > p{
        margin-bottom: 40px;
    }

    .mission{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flex{
        justify-content: center;
        width: 100%;
    }

    .flex.justify-center.align-center.items-center.my-5{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    svg{
        margin-left: 110px;
        margin-bottom: 30px;
    }

    .receipt.flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .receipt_list{
        /* align-items: center;
        flex-direction: row; */
        justify-content: center;
        width: 100%;
        margin-left: 20px;
        
    }

    .list{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .list > p {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .total{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flex.column{
        flex-direction: row;
        align-items: flex-start;
        margin-top: 10rem;
    }
    
    .btn.btn-pay.btn-square-small{
        flex-direction: column;
        align-items: center;
        width: 5rem;
        height: 5rem;
        font-size: 1.1rem;
        width: 100%;
    }

}

@media screen and (max-width: 780px) {
    .mission p{
        font-size: 1.5rem;
    }

    .btn-big{
        width: 20rem;
    }

}

