{% extends "base.html" %} 
{% block content %} 
{% load static %}


<div class="container wrapper pt-40">
  <div>
    <span class="font-bold" style="font-size: 40px; font-weight: 700; line-height: 1.5;">연습할 키오스크 템플릿을 선택해주세요</span>
    <br>
    <span class="font-bold" style="font-size: 20px; font-weight: 400; line-height: 1.5;">실제 매장과 동일한 키오스크로 연습할 수 있어요!</span>
  </div>
</div>
<div class="brand_list">
  <ul class="flex-row justify-between flex-wrap">
    <li>
      <a href="{% url 'introapp:mission_mega' %}">
        <img class="mx-5 my-5" src="{% static 'img/mega.logo.png' %}" />

        <div class="flex justify-center">메가커피</div>
      </a>
    </li>
    <li>
      <a href="{% url 'introapp:mission_mc' %}">
        <img src="{% static 'img/mcdonalds.png' %}" />
        <div class="flex justify-center">맥도날드</div>
      </a>
    </li>
  </ul>
</div>

{% endblock %}
