
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class = "font-big flex justify-center align-center items-center" style="padding-top:5rem">
        <span class = "font-bold fs-1">주문을 완료하셨습니다.</span>
    </div>
    <div class="complete_conatiner">
        <div class = "complete_contents">
            {% if brand == 'mcdonald' %}
                <div class ="complete_title" >주문한 내역</div><hr />
                <div class="complete_details">
                    <div class="" >결제 수단 : {{ payment.method }}</div>
                    <div class="" >포장 여부 : {{ payment.packing }}</div><br>
                    {% for menu in menus %}
                        {{ menu.name }} {{ menu.quantity }}개
                    {% endfor %}
                </div>
            {% elif brand == 'megacoffee' %}
                <div class="complete_title" >주문한 내역</div><hr />
                <div class="complete_details">
                    <div class="ordered-method">결제 방법 : ____</div>
                    <div class="ordered-packaging">포장 여부 : ____</div><br>
                    <div class="order-list"></div>
                </div>
            {% endif %}
        </div>
        <div class="complete_contents">
            <div class="complete_title">주문했어야 하는 내역</div><hr />
            <div class="complete_details">
                <div>결제 수단 : {{ mission_payment.payments }}</div>
                <div>포장 여부 : {{ mission_payment.packing }}</div><br>
                {% if brand == 'mcdonald' %}
                    {% for menu, quantity in mission_order.items %}
                            {{ menu }} {{ quantity }}개
                    {% endfor %}
                    </div>
                {% elif brand == 'megacoffee' %}
                    {% for menu, value in mission_order.items %}
                        {{ menu }} {{ value.1 }}개
                        <br>
                        {{ value.0 }}
                    {% endfor %}
                    </div>
                {% endif %}
        </div>

    </div><hr />
        {% if brand == 'mcdonald' %}
            <div class = "complete_title" style="margin:1rem">
                    <div class="accuracy">정확도 :  {{ accuracy }}%</div>
                    <div class="using-time">주문까지 걸린 시간 : 분 **초</div>
            </div><hr />
        {% endif %}

        <!-- <div class = "flex justify-evenly complete_button">
            <a class = "btn" href="{% url 'introapp:main' %}">설문조사 없이 종료하기</a>
            <a class = "btn" href = "{% url 'introapp:survey' %}">설문조사 하러가기</a>
        </div> -->


        <div class = "flex justify-evenly align-center items-center my-5">
            <a class = "btn-survey mx-5 height" href="{% url 'introapp:main' %}">설문조사 하지말기</a>
            <a class = "btn-survey mx-5 height" href = "{% url 'introapp:survey' %}">설문조사 하러가기</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/intro/completeResult.js' %}"></script> 

{% endblock%}