
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background">
    <div class = "center long-height">
        <div class = "font-big flex justify-center align-center items-center my-5 ">
            <span class = "font-bold fs-1">주문을 완료하셨습니다.</span>
        </div>
        <div class = "flex ordered orderWrap">
            <div class="flex column">
                <div class ="title font-bold fs-3">주문한 내역</div>
                <div class="title font-bold method-order">결제 방법 : ____</div>
            </div>

            <div class = "justify-evenly order-list">
            </div>
        </div>
        <div class = "flex answer missionWrap">
            <div class="flex column">
                <div class ="title font-bold fs-3">주문했어야<br>하는 내역</div>
                <div class="title font-bold method-mission">결제 방법 : ____</div>
            </div>

            <div class = "justify-evenly answer-list">
            </div>
        </div>
        <div class = "answer justify-evenly correctWrap">
            <div>
                <div class ="font-bold fs-3 accuracy">정확도 : ** %</div>
                <div class ="font-bold fs-3 using-time">주문까지 걸린 시간 : **분 **초</div>
            </div>

            <div class = "justify-evenly answer-list">
            </div>
        </div>
        
        <div class = "flex justify-evenly align-center items-center my-5">
            <a class = "btn mx-5" href="{% url 'introapp:main' %}">설문조사 없이 종료하기</a>
            <a class = "btn mx-5" href = "{% url 'introapp:survey' %}">설문조사 하러가기</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/intro/completeResult.js' %}"></script> 

{% endblock%}