
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="background">
    <div class = "long-height">
        <div class = "font-big flex justify-center align-center items-center my-5 ">
            <span class = "font-bold fs-1">주문을 완료하셨습니다.</span>
        </div>
        <div class = "flex ordered justify-center orderWrap">
            {% if brand == 'mcdonald' %}
                <div class="flex  column align-center">
                    <div class ="title font-bold fs-3">주문한 내역</div>
                    <div class="  method-order ">결제 수단 : {{ payment.method }}</div>
                    <div class="  method-order ">포장 여부 : {{ payment.packing }}</div>
                </div>
                <div class = "flex column align-center items-center">
                    {% for menu in menus %}
                    <div class = "m-5 complete_menu">
                        {{ menu.name }} {{ menu.quantity }}개
                    </div>
                    {% endfor %}

                </div>

            {% elif brand == 'megacoffee' %}
                <div class="flex  column">
                    <div class ="title font-bold fs-3">주문한 내역</div>
                    <div class="method-order ordered-method">결제 방법 : ____</div>
                    <div class="method-order ordered-packaging">포장 여부 : ____</div>
                </div>
                <div class = "flex column align-center items-center order-list">


                </div>
            {% endif %}
        </div>
        <div class = "flex answer missionWrap">
            <div class="flex column">
                <div class ="title font-bold fs-3">주문했어야<br>하는 내역</div>
                <div class="  method-mission ">결제 수단 : {{ mission_payment.payments }}</div>
                <div class="  method-order ">포장 여부 : {{ mission_payment.packing }}</div>
            </div>
                {% if brand == 'mcdonald' %}
                    <div class = "flex column align-center items-center">

                    {% for menu, quantity in mission_order.items %}
                        <div class = "m-5  complete_menu">
                            {{ menu }} {{ quantity }}개
                        </div>

                    {% endfor %}
                    </div>
                {% elif brand == 'megacoffee' %}
                    <div class = "flex column align-center items-center">

                    {% for menu, value in mission_order.items %}
                        <div class = "m-5  complete_menu">
                            {{ menu }} {{ value.1 }}개
                            <br>
                            {{ value.0 }}
                        </div>

                    {% endfor %}
                    </div>

                {% endif %}
        </div>
        <div class = "flex answer justify-evenly correctWrap">
                <div class ="font-bold fs-3 blank accuracy">정확도 :  {{ accuracy }}%</div>
                <div class ="font-bold fs-3 blank using-time">주문까지 걸린 시간 : 분 **초</div>

            <div class = "justify-evenly answer-list">
            </div>
        </div>

        <div class = "flex justify-evenly align-center items-center my-5">
            <a class = "btn mx-5 height" href="{% url 'introapp:main' %}">설문조사 없이<br> 종료하기</a>
            <a class = "btn mx-5 height" href = "{% url 'introapp:survey' %}">설문조사 하러가기</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/intro/completeResult.js' %}"></script> 

{% endblock%}