
{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="wrap">
        <div class="select">
            <img src="{% static 'img/mcdonalds.png' %}" alt="맥도날드 이미지">
            <p>
                미션을 완료하세요!
            </p>
        </div>

        <div class="mission">
            <p class="mission_text">
                매장/포장: {{ payment.packing }} &nbsp; 결제:{{ payment.payments }} <br><br>
                {% for name, quantity in order.items %}
                    메뉴:{{ name }}({{ quantity }}개) <br><br>
                {% endfor %}
            </p>

        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn-big" href="{% url 'mcdonaldapp:start' %}">ORDER</a>
        </div>
    </div>

{% endblock content %}