
{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="wrap">
        <div class="select">
            <img src="{% static 'img/메가커피.png' %}" alt="메가커피 이미지">
            <p>
                메가커피를 선택하셨습니다!
            </p>
        </div>

        <div class="mission">
            <p class="mission_text">
                아메리카노 아이스 한잔과 바닐라 아메리카노 따듯하게 한잔과 바닐라 라떼에 샷추가 해서 따듯하게 한잔 포장으로 주문해주세요.
            </p>
            
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn-big" href="{% url 'megacoffeeapp:start' %}">주문하러 가기</a>
        </div>
    </div>
    
{% endblock content %}