
{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="wrap">
        <div class="select">
            <img src="{% static 'img/mega.logo.png' %}" alt="메가커피 이미지">
            <p>
                미션을 완료하세요!
            </p>
        </div>

        <div class="mission">
            <p class="mission_text">
                {% for name, value in order.items %}
                        {{ name }} {{ value.0}}해서 {{ value.1 }}개<br>
                {% endfor %}
                {{ payment.packaging }}으로 하고, 결제는 {{ payment.payments }}로(으로) 할게요.
            </p>
            
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn-big" href="{% url 'megacoffeeapp:start' %}">ORDER</a>
        </div>
    </div>
    
{% endblock content %}