{% extends "base.html" %}
{% block content %}
{% load static %}

<form action = "#" method = "post">
    {% csrf_token %}

    <div class = "survey">
            <span class = "font-bold fs-1">연습한 기업의 키오스크가 반영했으면 하는 부분은 무엇인가요?<br></span>

            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_a">명확한 단계 표시<br>
            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_b">메뉴 단순화<br>
            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_c">버튼 크기 키우기<br>
            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_d">글씨 크기 키우기<br>
            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_e">요구를 간단하게 하기<br>
            <input class = "my-5" type = "checkbox" name = "practice" value = "practice_f">뒤로가기 버튼 찾기 쉽게 표시<br>

    </div>
    <div class = "survey">
            <span class = "font-bold fs-1">새로 추가되었으면 하는 브랜드는 어디인가요?<br></span>

            <input class = "my-5" type = "checkbox" name = "new" value = "new_a">롯데리아<br>
            <input class = "my-5" type = "checkbox" name = "new" value = "new_b">버거킹<br>
            <input class = "my-5" type = "checkbox" name = "new" value = "new_c">이디야<br>
            <input class = "my-5" type = "checkbox" name = "new" value = "new_d">베스킨라빈스<br>

            <input class = "my-5" type = "text" name = "new" value = "자유롭게 작성해주세요">
    </div>
    <a class = "btn" href = "#">제출하기</a>
</form>

{% endblock content %}