{% extends "base.html" %}
{% block content %}
{% load static %}

<form action = "#" method = "post">
    {% csrf_token %}

    <div class = "survey">
            <span class = "font-bold fs-1">키오스크 사용하는 과정에서 어려웠던 부분을 골라주세요<br></span>

            <input class = "my-5" type = "checkbox" name = "diff" value = "diff_a">메뉴선택<br>
            <input class = "my-5" type = "checkbox" name = "diff" value = "diff_b">추가옵션<br>
            <input class = "my-5" type = "checkbox" name = "diff" value = "diff_c">결제하기<br>
    </div>

    <div class = "survey">
            <span class = "font-bold fs-1">시니스크를 사용하면서 불편한 점이 있었나요?<br></span>

            <input class = "my-5" type = "checkbox" name = "uncomfort" value = "uncomfort_a">글씨가 작다<br>
            <input class = "my-5" type = "checkbox" name = "uncomfort" value = "uncomfort_b">버튼이 작다<br>
            <input class = "my-5" type = "checkbox" name = "uncomfort" value = "uncomfort_c">화면의 어디를 눌러야할 지 모르겠다<br>
            <input class = "my-5" type = "checkbox" name = "uncomfort" value = "uncomfort_d">선택할 게 많다<br>
            <input class = "my-5" type = "checkbox" name = "uncomfort" value = "uncomfort_e">불편하지만 정확하게 특정하기 어렵다<br>
    </div>
    <a class = "btn" href = "{% url 'introapp:question2' %}">다음 화면으로 넘어가기</a>
</form>

{% endblock content %}