{% extends "base.html" %}
{% block content %}
{% load static %}

<form method = "post" action="{% url 'introapp:survey' %}" name="survey_form">
    {% csrf_token %}
    {% for question, answers in questions.items %}
    <fieldset class = "survey">
      <legend class = "sv_font font-bold">{{ question }}</legend>
      {% for answer in answers %}
        <label class = "sv_font">
          <input class = " my-5" type="radio" name="answer_list_{{ forloop.parentloop.counter0 }}" value="{{ answer }}">
          {{ answer }}
        </label><br>
      {% endfor %}
    </fieldset>
  {% endfor %}
    <div class = "flex justify-between">
        <button class="btn btn-sumbit-survey">제출하기</button>
        <a href = "{% url 'introapp:main' %}" class = "btn">취소하기</a>
    </div>

</form>

<script>
  document.querySelector('.btn-sumbit-survey').addEventListener('click', (e) => {
  e.preventDefault();
    const checkboxs = document.querySelectorAll('input');
    let answers = [];
    for ( let i=0 ; i < checkboxs.length ; i++ ) {
      if ( checkboxs[i].checked === true ) {
        answers.push(checkboxs[i].value);
      }
    }

    const numQuestions = document.querySelectorAll('.survey').length;
    if ( answers.length < numQuestions ) {
      alert('모든 항목에 답해주세요.');
      return;
    }

    document.forms[0].submit();
  })
</script>


{% endblock content %}