{% extends "base.html" %}
{% block content %}
{% load static %}

<form method = "post" action="{% url 'introapp:survey' %}">
    {% csrf_token %}
    {% for question, answers in questions.items %}
    <fieldset class = "survey">
      <legend class = "font-bold fs-1">{{ question }}</legend>
      {% for answer in answers %}
        <label>
          <input class = "my-5" type="checkbox" name="answer_list" value="{{ answer }}">
          {{ answer }}
        </label><br>
      {% endfor %}
    </fieldset>
  {% endfor %}
  <button type="submit" class = "btn">제출</button>
</form>


{% endblock content %}