{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메가커피</title>
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
    />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?after" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}?after" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer-section.css' %}?after" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu-section.css' %}?after" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style_main.css' %}?after" />
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- google meterial icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>
    {% include 'header.html' %}
    <header class="header">
        <div class="header-container">
            <a class="btn-home trans ml-20" href="{% url 'megacoffeeapp:start_2' %}">
                <i class="fas fa-home"></i>
            </a>
            <a class="home" href="{% url 'megacoffeeapp:start_2' %}"><span>Senisk</span> <span>Kiosk</span></a>
        </div>
    <nav class="main-nav">
        <ul class="menu-tab list">
            <li id="seasonmenu" class="tab-list trans"><span href="{% url 'megacoffeeapp:start_2' %}"></span>시즌 메뉴</li>
            <li id="hotmenu" class="tab-list trans"><span href="{% url 'megacoffeeapp:hot_coffee' %}"></span>커피(HOT)</li>
            <li id="icemenu" class="tab-list trans btn-active"><span href="{% url 'megacoffeeapp:ice_coffee' %}"></span>커피(ICE)</li>
        </ul>
    </nav>
    </header>
    <main>
    <div class="main__container">
        <ul class="menu-list">
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630171805_1656577085458_7skvYFEJwH.jpg">
                    <div>
                        <figcaption class="menu-title">아메리카노(ICE)</figcaption>
                        <span class="menu-price">2,000원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165440_1656575680273_1mqBtip7qh.jpg">
                    <div>
                        <figcaption class="menu-title">카페 라떼(ICE)</figcaption>
                        <span class="menu-price">2,900원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165339_1656575619040_5XSmRW4GJT.jpg">
                    <div>
                        <figcaption class="menu-title">카라멜 마끼아또(ICE)</figcaption>
                        <span class="menu-price">3,700원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165146_1656575506210_0DJPVTvDIa.jpg">
                    <div>
                        <figcaption class="menu-title">바닐라 라떼(ICE)</figcaption>
                        <span class="menu-price">3,400원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165537_1656575737487_Bxg3VBe7i4.jpg">
                    <div>
                        <figcaption class="menu-title">카페 모카(ICE)</figcaption>
                        <span class="menu-price">3,900원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165819_1656575899792_ItfqiNDhPh.jpg">
                    <div>
                        <figcaption class="menu-title">콜드브루 오리지널(ICE)</figcaption>
                        <span class="menu-price">3,500원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630165911_1656575951121_0YxlHWvpqC.jpg">
                    <div>
                        <figcaption class="menu-title">헤이즐넛 라떼(ICE)</figcaption>
                        <span class="menu-price">3,400원</span>
                    </div>
                </figure>
            </li>
            <li class="menu-item">
                <figure>
                    <img class="menu-img"
                        src="https://img.79plus.co.kr/megahp/manager/upload/menu/20220630170029_1656576029152_FYWEDbVbFT.jpg">
                    <div>
                        <figcaption class="menu-title">헤이즐넛 아메리카노(ICE)</figcaption>
                        <span class="menu-price">2,700원</span>
                    </div>
                </figure>
            </li>
        </ul>
        <div class="btn-group"></div>
        <div class="menu-modal-container">
        <ul class="modal">
            <li class="modal-item">
                <figure>
                    <img class="modal-img"
                        src="https://cdn.shopify.com/s/files/1/0273/4535/4826/products/coldbrew_69e25680-9a16-41ed-ad47-e42d7b201b6a.jpg?v=1587042356">
                    <div>
                        <figcaption class="modal-title">아메리카노(ICE)</figcaption>
                        <span class="modal-price">2000원</span>
                    </div>
                </figure>
                <div>선택한 옵션 <span class="selected-options"></span></div>
            </li>
            <li class="modal-item">
                <button class="btn btn-size-up">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <span>사이즈 업</span> 
                </button>
                <span class="size-up-price">1,000원</span>
                <button class="btn btn-addshot">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <span>샷 추가</span>
                </button>
                <span class="size-up-price">1,000원</span>
            </li>
            <li class="modal-item">
                <button class="btn btn-cream btn-add-cream">
                    <i aria-hidden="true"></i>
                    <span>휘핑크림 추가</span> 
                </button>
                <span class="size-up-price">1,000원</span>
                <button class="btn btn-cream btn-out-cream">
                    <i aria-hidden="true"></i>
                    <span>휘핑크림 빼기</span> 
                </button>
                <span class="size-up-price">0원</span>
            </li>
            <li class="modal-item">
                <button class="btn btn-order">주문 담기</button>
                <button class="brn btn-close">취소</button>
            </li>
        </ul>
        </div>
    </div>
    </main>
    <!-- footer 주문 내역 영역 -->
    <footer class="footer">
    <div class="remaining-time-container">
        남은시간 <span class="remaining-time"></span>초
    </div>
    `<ul class="order-list">
        <li id="no-item" class="order-item">
            담은 메뉴가 없습니다.
        </li>
    </ul>`
    <div class="selected-item-container">
        선택한 상품 <span class="selected-item-num"></span>
    </div>
    <button class="order-btn order-btn-invalid">
        <span class="total-price"></span> 결제하기
    </button>
    <button class="delete-all-items">전체삭제</button>

    <!-- 결제 내역 모달 영역 -->
    <div class="pay-modal-container modal-invisible">
        <div class="modal">
            <div>
                <div class="pay-result-header flex justify-between align-center">
                    <h3 class="pay-modal-text"><span>주문 세부내역</span>을 다시 한번 확인하여 주세요</h3>
                    <i class="far fa-times-circle pr-5 pt-5 pay-result-cancel2"></i>
                </div>
                
                <div class="pay-list-container">
                    <ul class="pay-list">
                        <li id="${id}" class="pay-item">
                            <span class="item-name"></span>
                            <span class="item-price"></span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div>
                <div class="pay-result">
                    <span>총 수량 <span class="total-item-num"></span></span>
                    <span>총 결제금액 <span class="total-item-price"></span></span>
                </div>
                <div>
                    <button class="pay-result-cancel">돌아가기</button>
                    <button class="pay-result-check here" onclick="">먹고가기</button>
                    <button class="pay-result-check togo" onclick="">포장하기</button>
                </div>
            </div>
        </div>
    </div>
    </footer>

    <script type="text/javascript" src="{% static 'js/megacoffee/menu.js' %}"></script> 
</body>
</html>
