
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5">
            <span class = "font-bold fs-1 main_text">
                카드를 아래의 투입구에 넣어주세요.
            </span>
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn" href="{% url 'megacoffeeapp:receipt' %}">이전으로 돌아가기</a>
        </div>
        
    </div>
</div>

{% endblock%}
