{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5 ">
            <span class = "font-bold fs-1">
                결제가 완료되었습니다.
                <br>
                카드를 제거해주세요.
                <br>
                주문번호는 ******입니다.
            </span>
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class="btn complete-btn" data-href="{% url 'introapp:complete' %}" data-href="{% url 'introapp:complete' %}">
                키오스크 마스터로
                <br>
                돌아가서 확인하기
            </a>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/megacoffee/complete.js' %}"></script> 
</div>

{% endblock%}
