{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5 ">
            <span class = "font-bold fs-1">
                결제 중입니다.
                <br>
                잠시만 기다려주세요.
            </span>
        </div>
        <div class = "flex justify-center align-center items-center my-5">
            <a class = "btn btn-pay btn-square-small btn-yellow" href="{% url 'megacoffeeapp:receipt' %}">이전으로 돌아가기</a>
            <a class = "btn complete-btn btn-square-small" data-href="{% url 'megacoffeeapp:pay_complete' %}">다음으로 가기</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/megacoffee/complete.js' %}"></script>

{% endblock%}
