
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="receipt-page">
    <div class = "center">
        <div class = "flex justify-center align-center items-center my-5 pay">
            <span class = "font-bold fs-1 main_text">
                결제수단 선택
            </span>
            <a href="{% url 'megacoffeeapp:start_2' %}" class="margin-right">
                <span class="material-symbols-outlined">
                    cancel
                </span>
            </a>
        </div>
        <div class="receipt_list pay">
            <div class="receipt flex my-5 column pay">
                <div class="flex column pay">
                    <p class="step-desc"><span class="step-tag">step 1</span> 제휴 할인을 선택해주세요.</p>
                    <div class = "flex pay">
                        <a class = "btn btn-pay btn-square-small no-margin-right" data-href="" data-pay="">SKT <br/>우주패스</a>
                        <a class = "btn btn-pay btn-square-small" data-href="" data-pay="">CJ ONE<br/>포인트 사용</a>
                    </div>
                    <p class="step-desc"><span class="step-tag">step 2</span> 결제수단을 선택해주세요.</p>
                    <div class = "flex pay">
                        <a class = "btn btn-pay btn-square-small no-margin-right" data-href="{% url 'megacoffeeapp:pay_card' %}" data-pay="카드">카드</a>
                        <a class = "btn btn-pay btn-square-small" data-href="{% url 'megacoffeeapp:pay_coupon' %}" data-pay="모바일쿠폰">모바일<br>쿠폰</a>
                    </div>
                    <div class = "flex pay">
                        <a class = "btn btn-pay btn-square-small no-margin-right" data-href="{% url 'megacoffeeapp:pay_phone' %}" data-pay="삼성페이/애플페이">삼성페이 <br>/<br> 애플페이</a>
                        <a class = "btn btn-pay btn-square-small" data-href="{% url 'megacoffeeapp:pay_barcode' %}" data-pay="카카오페이/네이버페이">카카오페이 <br>/<br> 네이버페이</a>
                    </div>
                </div>
                <div class="total align-center">
                </div>
            </div>
            
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/megacoffee/receipt.js' %}"></script> 
</div>

{% endblock%}
